
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
  /* text-transform: capitalize; */

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
h1,h3,p,div,ul,li,select{
    text-transform: capitalize;

}

/* Navbar Styling */
li,a{
  text-decoration: none;
  color:  rgb(0, 204, 255);;

}

nav{
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5%;
  border-bottom:0.2px solid rgba(218, 214, 214, 0.521) ;
  font-size: 16px;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}
.logoImg{
  width: 150px;
}
.navLinks{
  list-style: none;

}

.navLinks li{
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  font-weight: bolder;
}

.navLinks li {
transition: all 0.3s ease 0s;
}

.navLinks li:hover{
  color:rgb(33, 140, 182);
text-decoration: underline;
}


.search{
  width: 200px;
  border-radius: 50px;
  height: 35px;
  padding: 0 12px;
  border:1.5px solid rgb(0, 204, 255);


}
*:focus {
  outline: none;
}
::placeholder{
  color:rgba(0, 204, 255, 0.466);
}

.right-menu{
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 20px;
  background-color: white;
}
.dropdown-menu li{
  padding: 14px 18px;
  display: block;
}

.dropdown-menu.two{
   min-width: 350px; 
   right: 10px;
}
#lingerie,#hair,#beauty,#kids-menu{
  display: none;
}
#hats,#bags,#toys,#cologne{
  display: none;
}

.arrow{
  display: none;
}
.right-menu:hover .dropdown-menu{
  display: block;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height:2px;
  background-color: rgb(82, 92, 95);
  margin: 7px;
}


.all{
  display:none !important;
}
.title{
  margin-left: 1rem;
}
/* CARDS */
.card {
  width: 25rem;
  padding: 10px 16px;

}

.card-image{
  position: relative;
  width:100%;
  cursor: pointer;

}
.btn-row{
  /* display: grid;
  grid-template-columns: auto auto ;
  grid-column-gap: .4rem; */

  
}
.btn-shop{
  border:1.5px solid  rgba(255, 255, 255, 0.692);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.692);
  color: rgb(15, 15, 15) ;
  text-transform: uppercase;


}
.btn-shop.add{
  position: relative;
  top: -15rem;
  left: 6rem;
  cursor: pointer;
  width: 50%;
  transition: .5s ease;
  opacity: 0;
}
.card:hover .add {
  opacity: 1;
}
.card-content{
  /* text-align: center; */
  /* color: rgb(0, 204, 255) ; */
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;


}
.card-text{

font-weight: bold;}



.row{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 5rem;
  grid-row-gap: 4rem;


}
.filter-row{
  
  position: relative;
  /* padding-top: 1rem; */
  display: flex;  
  /* grid-template-columns: auto auto ; */
  left: 30rem;

}

.filter-row > div
{
  text-align:center;

  margin:15px;  /* and that, will result in a 10px gap */
}
select{
padding: 1rem;
width: 10rem;
}
/* CARDS ENDSS */

/* SHOW PAGEEE */

.banner{
  position: relative;
  left: 5rem;
  width: 90%;
  height: 400px;
  object-fit: cover;

}
.show-product-pic{
  position: relative;
  width: 30%;
  left: 12rem;
  top: 7rem;
  cursor: zoom-in;
}
.category{
position: relative;
/* display: flex; */
left: 5rem;
top: 7rem;
flex-wrap: wrap;
cursor: pointer;


}

.shop{
position: relative;
}
/* home page buttons */

/* home page buttons enddd */

.category > img
{
  flex: 0 50%;

  margin:35px;  /* and that, will result in a 10px gap */
}
.choose{
  position: relative;
  /* top: 10rem;
  left: 5rem; */
  width: 40%;
  box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.47);

}
.choose:hover{
  box-shadow: 2px 3px 5px 3px rgba(0,0,0,0.47);

}
.b-b{
  position: relative;
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  left: 35%;
  text-decoration:  rgb(0, 174, 255) underline ;
}
.wow{
  position: relative;
  left: 40%;
  text-transform: uppercase;
  top: 4rem;
  font-size: 40px;
  text-decoration:  rgb(0, 174, 255) underline ;
}
.w{
color: rgb(0, 174, 255);
}
.beauty{
  position: relative;
  left: -2rem;
}
.butn{
  position: relative;
  border: none;
  padding: 15px;
  width: 10%;
  background-color: white;
  text-transform: capitalize;
  box-shadow: 3px 13px 5px 0px rgba(0,0,0,0.47);

}
.show-product-size{
  position: relative;
  /* top: -36rem;
  left: 60rem; */
  left: -0.1rem; 
  border: solid 1px black;
  width: 35px;
  /* border-radius: 150px; */
  text-align: center;
  font-size: 16px;
  /* border-radius: 200px 200px 200px 200px; */

}
.show-product-name{
  font-weight: lighter;
}
.location{
  position: relative;
  top: -40rem;
  left: 12rem;
  color: grey;
}
.check-btn{
  position: relative;
  top: 4rem;
  border-color: transparent;
  background-color: black;
  width: 70%;
  padding: 8px;
  font-size: 20px;
  color: white;
  font-weight: 900;
  text-transform: capitalize;
  

}
.check-btn:hover{
  background-color: gray;
  cursor: pointer;

}
.box{
  border: solid  rgb(226, 224, 224);
  width: 5%;
  height: 35px;
  border-radius: 50%;
}
.show-container{
  position: relative;
  width: 50%;
  top: -40rem;
  left: 50rem;
  
}
/* SHOW PAGEEE  ENDSSS*/



/* footerrr */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(34, 33, 33, 0.096);
  color:  black;;
  text-align: center;
font-weight: 700;
  bottom: 0;
  width: 100%;
}
.pay-card{
  height: 0;
}
.rights{
  position: relative;
  top: 4rem;
  left: 22rem;
}
.con{
  
  position: relative;
  top: 2rem;
display:flex;
z-index: 999;

}
a > li{
  text-decoration: none;
  color: black;
}
a  > li:hover{
  color: #00aeff;
}
.li:hover{
  color: rgb(0, 174, 255);
}
.li{
  cursor: pointer;
}

.con > ul
{
  
  font-size: 20px;
  flex: 0 30%;
  list-style-type: none;
  font-weight: lighter;
  

}
ul>li{
  margin: 0 0 10px 0;
  color:  black;;

}
ul > p{
  text-decoration:  underline;

}
.payments{
  position: relative;
  flex-wrap: wrap;
  left: 25rem;
  top: -10rem;

}
.pay{
  position: relative;
  left: 1.8rem;
}
.c-card{
  position: relative;
  top: -8.5rem;
  left: 17rem;
  text-decoration: underline;
  font-size: 16px;
}
.payments > span{
  flex: 0 50%;

  margin:10px;  
}
/* end footerrrr */
.shipping-banner{
  position: relative;
  border: solid transparent;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.24);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.free-banner{
  /* color: pink; */
  animation: free 2s linear 1s infinite alternate;
}
.fr{
  font-size: 20px;
  font-weight: 900;
}

@keyframes free{
  from{
    color: black;

  }
  to{
    color: white;
  }
}
.form{
  top: 5rem;
  border: solid rgba(128, 128, 128, 0.116);
  height: 510px;
  border-radius: 20px;
  position: relative;
  width: 50%;
  left: 25rem;
  padding:5rem;
}
.sec{
  top: 5rem;
  border: solid rgba(128, 128, 128, 0.116);
  height: 930px;
  border-radius: 20px;
  position: relative;
  width: 50%;
  left: 30rem;
  padding:5rem;
  /* text-align: center; */
}
/* sign up formmmm^^^^^ */
.sign-in{
  position: relative;
  width: 100%;
  height: 3.3rem;
}
.form-title{
  position: relative;
  font-size: 26px;
  font-weight: 500;
  height: 0;
  top: -5rem;
  text-decoration: underline;
  left:15rem;
  
}
.log-sign{
  position: relative;
  display: grid ;
left: 10rem;
top: 1rem;
grid-row-gap: 20px;
}
.about-banner{
  position: relative;
  top: 1rem;
  left: 5rem;
  width: 90%;
  height: 250px;
  object-fit: cover;
}
.about-content,#return,#faq{
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 50%;
  left: 25rem;
  top: 4rem;
}

/* CART */
.cart-img{
  width: 100px;
}

hr{
  width: 65%;
  border: 0.1px solid rgba(173, 173, 173, 0.39);
  margin-top: -50px;
}

.orderList{
  margin-left: 15%;
  padding-top: 20px;
}
.orderList li{
  list-style: none;
}
.mybag{
  margin-left: 15%;
}
.cartItem{
  position: relative;
  left: 13%;
  top: -150px;
  font-size: 18px;
  padding-bottom: 10px;
}
.delete{
  position: relative;
  left: 50%;
  top: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  z-index: 5;
}



















@media screen and (max-width:1000px){
  body{
    overflow-x: hidden;
  }
  .navLinks{
    position: absolute; 
    right: -1000px;
    height: 92vh;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: right 0.4s ease-in-out;
    border-left: 1px solid rgba(218, 214, 214, 0.521);
    background-color: white;
    z-index: 5;
    overflow: scroll;
  }
  .navLinks li{
    margin-bottom: 50px;
    font-size: 23px;
  }
 
  .burger{
    display: block;
    cursor: pointer;
  }




  .dropdown-menu{
    position: absolute; 
    right: 0;
    left: -40%;
    height: 92vh;
    top: -22vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-width: none;
    box-shadow: none;
    width: 50%;
  }

  .right-menu:hover .dropdown-menu{
    display: none;
  }
  

  .arrow{
    display: inline;
    position: relative;
  }
  .arrow.one{
    left:-45px;
  }
  .arrow.two{
    left:-38px;
  }
  .arrow.three{
    left:-38px;
  }
  .arrow.four{
    left:-38px;
  }
  .arrow.five{
    left:-25px;
  }
  .arrow.six{
    left: -55px;
  }
  
  .right-menu.two li{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


