*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,a{
  text-decoration: none;
  color: black;

}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}
.navLinks{
  list-style: none;
}

.navLinks li{
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  font-weight: bolder;
}

.navLinks li {
transition: all 0.3s ease 0s;
}

.navLinks li:hover{
  color:rgb(33, 140, 182);
text-decoration: underline;
}