*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,a{
  text-decoration: none;
  color: black;

}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 5%;
  border-bottom:0.2px solid rgba(218, 214, 214, 0.521) ;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}
.navLinks{
  list-style: none;
}

.navLinks li{
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  font-weight: bolder;
}

.navLinks li {
transition: all 0.3s ease 0s;
}

.navLinks li:hover{
  color:rgb(33, 140, 182);
text-decoration: underline;
}

.right-menu{
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 20px;
}
.dropdown-menu li{
  padding: 14px 18px;
  display: block;
}

.right-menu:hover .dropdown-menu{
  display: block;
}